@using AspNetCore.Mvc.Fragments.Demo.FragmentSource2.Fragments.Main
@model AspNetCore.Mvc.Fragments.Demo.FragmentSource2.Fragments.Main.MainFragmentViewModel
<main role="main" class="container">
    <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">@Html.Raw(Model.Content)</p>
    </div>
</main>
